/* line 6, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #fff;
  font-family: 'Source Sans Pro'; }

/* line 16, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
h1 {
  font-size: 2.8em;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0.6rem 0; }
  /* line 22, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
  h1 > span {
    font-weight: 300; }

/* line 27, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
h2 {
  font-size: 1.15em;
  font-weight: 300;
  margin: 0.3rem 0; }

/* line 33, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
main {
  width: 95%;
  max-width: 1000px;
  /*margin: 4em auto;*/
  opacity: 0; }
  /* line 39, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
  main.loaded {
    transition: opacity .25s linear;
    opacity: 1; }
  /* line 44, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
  main header {
    width: 100%; }
    /* line 49, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
    main header > div {
      width: 50%; }
    /* line 54, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
    main header > .left, main header > .right {
      height: 100%; }
  /* line 60, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
  main .loaders {
    width: 100%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 
			
			}
			
    /* line 68, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
    main .loaders .loader {
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%;
      max-width: 25%;
      /*height: 200px;*/
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
			  }

/**
 * Util classes
 */
/* line 88, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
.left {
  float: left; }

/* line 92, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
.right {
  float: right; }

/* line 96, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
.cf, main header {
  content: "";
  display: table;
  clear: both; }

/**
 * Buttons
 */
/* line 106, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
.btn {
  color: #fff;
  padding: .75rem 1.25rem;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: -webkit-transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
  transition: transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
  margin: 2rem 0; }
  /* line 115, /Users/Connor/Repos/personal/personal-website/app/styles/loaders.scss */
  .btn:hover {
    -webkit-transform: scale(1.01562);
        -ms-transform: scale(1.01562);
            transform: scale(1.01562);
    background-color: #fff;
    color: #ed5565; }

